.tx-green-1 {
    color: #176efd;
    font-weight: 600;
}

.wrapper-stepper {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.09);
}

.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 660px;
    position: relative;
    z-index: 0;
    margin-bottom: 24px;
}

.stepper-progress {
    position: absolute;
    background-color: #c5c5c5;
    height: 2px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.stepper-progress-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #176efd;
    transition: all 500ms ease;
}

.stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c5c5c5;
    transition: all 500ms ease;
}

.stepper-item-counter {
    height: 68px;
    width: 68px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #c5c5c5;
    position: relative;
    /* cursor: pointer; */
}

.stepper-item-counter .icon-success {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    width: 24px;
    transition: all 500ms ease;
}

.stepper-item-counter .number {
    font-size: 22px;
    transition: all 500ms ease;
}

.stepper-item-title {
    position: absolute;
    font-size: 14px;
    bottom: -24px;
    text-align: center;
    width: 30%;
}

.stepper-item.success .stepper-item-counter {
    border-color: #176efd;
    background-color: #d2e2fa;
    color: #fff;
    font-weight: 600;
}

.stepper-item.success .stepper-item-counter .icon-success {
    opacity: 1;
    transform: scale(1);
}

.stepper-item.success .stepper-item-counter .number {
    opacity: 0;
    transform: scale(0);
}

.stepper-item.success .stepper-item-title {
    color: #176efd;
}

.stepper-item.current .stepper-item-counter {
    border-color: #176efd;
    background-color: #176efd;
    color: #fff;
    font-weight: 600;
}

.stepper-item.current .stepper-item-title {
    color: #818181;
}

.stepper-pane {
    color: #333;
    padding: 10px 60px 30px 60px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.09);
    margin: 40px 0;
}

.controls {
    display: flex;
}

.btn-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    border: 1px solid;
    text-align: center;
    vertical-align: end;
    cursor: pointer;
    line-height: 1.5;
    transition: all 150ms;
    border-radius: 4px;
    width: fit-content;
    font-size: 1rem;
    color: #333;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.btn-step:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn--green-1 {
    background-color: #176efd;
    border-color: #176efd;
    color: #fff;
    margin-left: auto;
}